body{
    font-family: 'Ubuntu', sans-serif;
    background-color: ivory;
    padding:0px;
    margin:0px;
}

header nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    background-color: #b3e3f7;
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
}


header nav ul{
    display:flex;
    list-style-type: none;;
}

header nav ul li{
    display:flex;
    width:200px;
    color:white;
    text-decoration: none;
}

header nav ul li a{
    text-decoration: none;
    color:  purple;
    font-weight: bold;
}

/* Hover kleur */
header nav ul li a:hover{
    color:white;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer {
    display:flex;
    position: fixed;
    bottom:0px;
    width:100%;
}

footer nav{
    display:flex;
    width:100%;
    background-color: #aab0ec;
    justify-content: space-around;
}

footer nav ul{
    display: flex;
    list-style-type: none;
}

footer nav ul li{
    width:200px;
    
}

footer nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer nav ul li a:hover{
    color:purple;
}